.container {
    width: 48em;
    margin: 50px auto 0 auto;
}

.picker {
    box-sizing: content-box;
    gap: 25px;
    width: 300px;
    padding: 20px;
    background-color: #000;



    .color-area {
        width: 100%; height: 300px;

        .cursor {
            z-index: 3;
            position: absolute;
            width: 10px; height: 10px;
            margin: 0 0 -5px -5px;
            background-color: #fff;
            border: 1px solid #000;
        }
    }



    .option-list {
        gap: 0.5em;
        border: none;
    
        [type="radio"] {
            display: none;
    
            &[checked] + label {
                border-radius: 4px;;
                font-weight: bold;
                color: #000;
                background-color: #fff;
            }
        }
    
        label {
            cursor: pointer;
            display: block;
            padding: 0.1em 0.5em;
            border: none;
            font-size: 0.8em;
            color: #fff;
            background-color: transparent;
        }
    }


    
    input {
        padding: 0 10px;
        border: none;
        color: #fff;
        background-color: #000;
    }

    select {
        padding: 0 1.4em 0 0;
        border: none;
        line-height: 1em;
        font-size: 1em;
        color: #fff;
        background: url("../img/icons/arrow.svg") no-repeat right 0.4em center;
        background-color: #000;
        background-size: 8px;
        appearance: none;     
        -webkit-appearance: none;
        -moz-appearance: none;
    
        option {
            color: #000;
            background-color: #fff;
        }
    }

    .slider {
            
        [type="range"] {
            position: absolute;
            top: 0; left: -3%;
            width: 106%; height: 100%;
            border:none;
            border-radius: 0px;
            outline:none;
            appearance: none;
            background: transparent;
        }
        
        [type="range"]::-webkit-slider-thumb {
            appearance: none;
            display: block;
            width: 15px; height: 15px;
            margin-top: 0;
            border: 3px solid #000;
            background: #fff;
            transform: rotate(45deg);
        }
    
        [type="range"]::-moz-range-thumb {
            appearance: none;
            display: block;
            width: 10px; height: 10px;
            margin-top: 0;
            border: 3px solid #000;
            border-radius: 0px;
            background: #fff;
            transform: rotate(45deg);
        }
    }
    
    .slider-hue {
        gap: 15px;
        width: 100%; height: 5px;
        background: linear-gradient(
            to right,
            rgb(255 0 0), 
            rgb(255 125 0), 
            rgb(255 255 0), 
            rgb(125 255 0),
            rgb(0 255 0),
            rgb(0 255 125),
            rgb(0 255 255), 
            rgb(0 125 255), 
            rgb(0 0 255), 
            rgb(125 0 255),
            rgb(255 0 255),
            rgb(255 0 125),
            rgb(255 0 0)
        );
    }

    .layer {
        font-size: 1rem;
    }

    .layer__header {
        gap: 0.5em;
    }

    .layer__content {
        flex: 1;
    }

    .layer__branch {
        width: 2em;
    }

    .layer__handle {
        width: 1em; height: 1em;
        background-color: #fff;
    }

    .layer__body {
        gap: 1em;
        margin: 2em 0 3em 0;
    }

    .layer__channels {
        width: 70%;

        input {
            box-sizing: content-box;
            width: 45px; height: 1.2em;
            padding: 0 10px;;
            border-left: 0.5px solid #ffffff75;
            text-align: center;

            &:first-child {
                border-left: 0.5px solid transparent;
            }

            &:last-child {
                padding: 0;
                text-align: right;
            }
        }
    }
}
